{% extends "base.html" %}

{% block title %}Minhas Tarefas{% endblock %}

{% block content %}
    <h1 class="mb-4">Lista de Tarefas</h1>

    <p><a href="{% url 'add_task' %}" class="btn btn-success mb-3">➕ Adicionar Nova Tarefa</a></p>

    <hr>

    {% if tarefas %}
        <ul class="list-group">
            {% for tarefa in tarefas %}
                <li class="list-group-item d-flex justify-content-between align-items-center {% if tarefa.concluida %}list-group-item-light completed{% endif %}">
                    <div class="d-flex align-items-center">
                        <a href="{% url 'toggle_status' tarefa.id %}" class="btn btn-sm me-3
                            {% if tarefa.concluida %}btn-secondary{% else %}btn-primary{% endif %}">
                            {% if tarefa.concluida %}
                                Undo
                            {% else %}
                                Complete
                            {% endif %}
                        </a>
                        <div>
                            <div>{{ tarefa.conteudo }}</div>
                            <small class="text-muted">Criado em: {{ tarefa.data_hora_criacao|date:"d/m/Y H:i" }}
                            {% if tarefa.prazo %}
                                | Prazo: {{ tarefa.prazo|date:"d/m/Y H:i" }}
                            {% endif %}
                            </small><br>
                            <small>
                                {% if tarefa.tags.all %}
                                    {% for tag in tarefa.tags.all %}<span class="badge bg-secondary">{{ tag.nome }}</span> {% endfor %}
                                {% else %}
                                    Sem tags
                                {% endif %}
                            </small>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="btn btn-sm btn-outline-primary me-2">[Editar]</a>
                        <a href="#" class="btn btn-sm btn-outline-danger">[Excluir]</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info">Nenhuma tarefa pendente! Ótimo trabalho (ou adicione uma).</div>
    {% endif %}

{% endblock content %}
