{% extends "base.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ titulo }}</h1>

    <form method="post" class="col-md-6">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" id="nome" name="nome" value="{{ tag.nome|default_if_none:'' }}" required class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'list_tags' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock content %}
